@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    font-family: "Poppins", system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* اقرا عن هذل لبموضوع */

    scroll-behavior: smooth;

}

header {

    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px
        /* راجع هذه المعلوومة  */


}

.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1 .8em
        /* افهم معلومةة الفونت سايز  */

}

.navigation a {
    color: #3a6cf4;
    text-decoration: none;
    font-size: 500;
    padding-left: 30px
}

.navigation a:hover {
    color: #d61818;
}

section {

    padding: 50px 80px
}

.main {
    width: 100%;
    min-height: 100vh;
    /* راجع هذه الملومة  */

    display: flex;
    align-items: center;
    background-image: url("../css/imges/Leonardo_Phoenix_A_vibrant_bluehued_illustration_of_a_young_ad_0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed
}

.main h2 {
    color: black;
    font-size: 1.4em;
    font-weight: 700;

}

.main h2 span {

    margin-top: 10px;
    color: #4e9eff;
    font-size: 2em;
    font-weight: 600;

}

.main h3 {
    font-size: 1em;
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px
}

.main-btn {

    color: black;
    background-color: #3a6cf4;
    text-decoration: none;
    padding: 0.9375em 2.1875em;
    font-weight: 500;
    font-size: 1.1em;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 15px;
    transition: 0.7s ease;
    margin-bottom: 20px
}

.main-btn:hover {
    background-color: red;
    transform: scale(1.1)
}

.social-icons a {
    display: inline-block;
    color: black;
    font-size: 1.7em;
    margin-right: 30px;
    /* لإضافة مسافة بين الأيقونات */
}

.title {

    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1.8px;
    margin-bottom: 30px
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap
}

.card {

    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;


}

.card:hover {

    transform: scale(1.1);
}

.icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center
}

.info {
    text-align: center;

}

.info a {
    text-decoration: none;


}

.info h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 5px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

.projects {

    background-color: #000016;
}

.projects .content {
    margin-top: 30px;
}

.project-card {

    background-color: #f0f0f0;
    border: 5px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;

}

.project-card:hover {
    transform: scale(1.1);

}

.project-image img {
    width: 100%;
}

.project-card:hover .project-image {
    opacity: 0.9;
}

.project-info {
    padding: 1em;

}

.project-category {
    font-size: 0.8em;
    color: #000;

}

.project-title {

    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 10px;

}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
    transition: 0.7s ease;

}

.more-details:hover {
    color: #601cfc;
    transform: scale(1.1)
}

.footer {
    background-color: #000016;
    color: #fff;
    font-size: 15px;
    padding: 30px;
    display: flex;
    justify-content: space-between;

}

.footer span {
    color: #3a6cf4;
    font-weight: 800
}

.footer .social-icons a {
    color: #f0f0f0
}

@media (max-width:1023px) {

    header {
        padding: 12px 20px;

    }

    .navigation a {
        padding-left: 10px;
    }

    .titel {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .main-cintent h2 {
        font-size: 1em;
    }

    main-content h3 {
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px) {
    body {

        font-size: 12px;

    }

    .amin-content h3 {
        font-size: 1.4em;

    }



}

@media(max-widt:300px) {
    body {
        font-size: 10px;
    }
}